    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f7f7f7;
    }

    header {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 10px;
    }

    header h1 {
        font-size: 2rem;
        margin: 0;
    }


    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        margin-bottom: 15px;
    }

    nav {
      display: flex;
      justify-content: center;
      background-color: #444;
      padding: 0.5rem 0;
    }

    nav a {
      color: white;
      text-decoration: none;
      margin: 0 1rem;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      transition: background-color 0.3s, color 0.3s;
    }

    nav a:hover {
      background-color: #555;
    }

    .features {
      display: flex;
      justify-content: space-between;
      background-color: white;
      padding: 3rem 0;
    }

    .feature {
      flex: 1;
      text-align: center;
      padding: 1rem;
    }

    .feature h2 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .feature p {
      font-size: 1rem;
      color: #777;
    }

    .start{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3rem 0;
    }
    .start button {
        font-size: 16px;
        font-weight: 200;
        letter-spacing: 1px;
        padding: 13px 20px 13px;
        outline: 0;
        border: 1px solid black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        margin: 10px;
    }

    .start button a {
        text-decoration: none;
        color: black;
    }

    .start button:after {
        content: "";
        background-color: #ffe54c;
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 7px;
        left: 7px;
        transition: 0.2s;
    }

    .start button:hover:after {
        top: 0px;
        left: 0px;
    }

    footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 1rem;
    }

    form {
        padding: 20px;
    }

    input[type=text], input[type=number], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        font-size: 16px;
        font-weight: 200;
        letter-spacing: 1px;
        padding: 13px 20px 13px;
        outline: 0;
        border: 1px solid black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        margin: 10px;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

<<<<<<< Updated upstream
=======
    /* Style the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style the dropdown button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the dropdown links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content when the dropdown button is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}
>>>>>>> Stashed changes
