<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Janulus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>

    <header>
        <h1>{% block header %} {% endblock %}</h1>
        <nav>
            <a href="{{url_for('home')}}">Home</a>
            <a href="https://github.com/bri-maybe/two-hackathon-2023">About</a>
            <a href="{{url_for('login')}}">Login</a>
            <a href="{{url_for('create')}}">Sign up</a>
        </nav>
    </header>

    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>

  <footer>
    <p>&copy; 2023 Janulus. All rights reserved.</p>
  </footer>

</body>
</html>