<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Lang App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <h1>{% block header %} {% endblock %}</h1>
    </header>

    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="{{url_for('login')}}">Login</a>
        <a href="{{url_for('create')}}">Sign up</a>
        <a href="#">Contact</a>
    </nav>

    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>

  <footer>
    <p>&copy; 2023 Your Fancy Website. All rights reserved.</p>
  </footer>

</body>
</html>