{% extends 'base.html' %}
{% block title %} Sign up {% endblock %}
{% block header %} Create your profile! {% endblock %}
{% block content %}
    <form method="post">
        <label for="title">Create your username</label>
        <br>

        <input type="text" name="name" required
               placeholder="Enter your name"
               value="{{ request.form['name'] }}"></input>
        <br>
        <label for="lang">What language do you want to learn?</label>
        <select class="js-example-basic-single" name="lang">
            <option value="arabic">Arabic</option>
            <option value="bengali">Bengali</option>
            <option value="cantonese">Cantonese</option>
            <option value="czech">Czech</option>
            <option value="danish">Danish</option>
            <option value="dutch">Dutch</option>
            <option value="english">English</option>
            <option value="filipino">Filipino</option>
            <option value="french">French</option>
            <option value="german">German</option>
            <option value="hindi">Hindi</option>
            <option value="indonesian">Indonesian</option>
            <option value="italian">Italian</option>
            <option value="japanese">Japanese</option>
            <option value="korean">Korean</option>
            <option value="mandarin">Mandarin</option>
            <option value="portugese">Portugese</option>
            <option value="punjabi">Punjabi</option>
            <option value="russian">Russian</option>
            <option value="spanish">Spanish</option>
            <option value="swedish">Swedish</option>
            <option value="tamil">Tamil</option>
            <option value="thai">Thai</option>
            <option value="turkish">Turkish</option>
            <option value="ukrainian">Ukrainian</option>
            <option value="vietnamese">Vietnamese</option>

        </select>
        <br>

        <label for="level">On scale of 1-10, what is your skill level?</label>
        <br>

        <input type="number" name="level" required
               min="1" max="10"
               placeholder="0"
               value="{{ request.form['level'] }}"></input>

        <br>

        <label>Age (optional)<label>
        <input type="number" name="age"
                value="{{request.form['age']}}"></input>

        <label >Interests (separate by line): </label>

        <br>
        <textarea rows="10" cols="20" name="interests"></textarea>


        <br>
        <input type="submit">
    </form>
{% endblock %}