{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block header %} Janulus {% endblock %}
{% block content %}

  <img src="static/images/home.jpg" alt="" width="100%">

  <div class="features">
    <div class="feature">
      <h2>Real-time feedback</h2>
      <p>Detailed feedback is provided in real-time and tailored to each user.</p>
    </div>
    <div class="feature">
      <h2>24/7 Access</h2>
      <p>Practice conversation in foreign languages 24/7, without worrying about time-zone differences.</p>
    </div>
    <div class="feature">
      <h2>Progress tracking</h2>
      <p>Build your confidence and be encouraged to practice regularly!</p>
    </div>
  </div>

  <div class="start">
    <h1>Get Started now!</h1>
    <button><a href="{{url_for('login')}}">Log in</a></button>
    <button><a href="{{url_for('create')}}">Sign up</a></button>
  </div>


{% endblock %}
