{% extends 'base.html' %}
{% block title %} Learn! {% endblock %}
{% block header %} Hello! {% endblock %}

{% block content %}
    <p>{{name}}</p>

    <form id="myForm" onsubmit="return false;">
      <label for="inputData">Enter data: </label>
      <input type="text" id="inputData" name="inputData" required>
    </form>

    <div class="chatbox" id="chatbox"></div>


<script>
  const inputDataField = document.getElementById("inputData");
  const chatbox = document.getElementById("chatbox");

  inputDataField.addEventListener("keyup", function(event) {
    // Check if Enter key (keyCode 13) is pressed
    if (event.key === "Enter") {
      event.preventDefault(); // Prevent form submission
      processData(inputDataField.value);
    }
  });

  function processData(data) {
    const message = document.createElement("p");
    message.innerHTML = "<b>User: </b>" + data;
    chatbox.appendChild(message);

    fetch('/call-python-function?name={{name}}' )
        .then(response => response.text())
        .then(text => {
            const message = document.createElement("p");
            message.textContent = text;
            chatbox.appendChild(message);
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });

    chatbox.scrollTop = chatbox.scrollHeight;
  }

</script>



<form>
  <button type="button" onclick="callPythonFunction()">Call Python Function</button>
</form>

{% endblock %}