{% extends 'base.html' %}
{% block title %} Learn! {% endblock %}
{% block header %} Hello {{name}}! {% endblock %}

{% block content %}
    <img  class="loading" src="{{url_for('static', filename='images/loading.gif')}}" alt="loading">
    <form id="myForm" onsubmit="return false;" style="display:none;">
      <label for="inputData">Enter data: </label>
      <input type="text" id="inputData" name="inputData" required>
      <button type="button" onclick="call_end()">End Conversation</button>
      <button type="button" onclick="call_graph()">Graph</button>
    </form>


    <div class="chatbox" id="chatbox"></div>


<script>

  const inputDataField = document.getElementById("inputData");
  const chatbox = document.getElementById("chatbox");

  inputDataField.addEventListener("keyup", function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      call_prompt(inputDataField.value);
    }
  });


  function call_init() {
      fetch('/handle_innit?name={{name}}')
          .then(response => response.text())
          .then(text => {
              const message = document.createElement("p");
              message.innerHTML = text;
              chatbox.appendChild(message);

              document.getElementById("myForm").style.display = "block";
              document.getElementsByClassName("loading")[0].style.display = "none";
          })
          .catch(error => {
              console.error('Error fetching data:', error);
          });
  }

  function call_graph() {
    document.getElementById("myForm").style.display = "none";
    document.getElementsByClassName("loading")[0].style.display = "block";

    fetch('/handle_prompt?data=GRAPH&name={{name}}')
        .then(response => response.text())
        .then(text => {
            const message = document.createElement("p");
            message.innerHTML = text;
            chatbox.appendChild(message);

            document.getElementsByClassName("loading")[0].style.display = "none";

            const new_img = document.createElement("img");
            new_img.src = "{{url_for('static', filename='images/graph.png')}}";
            new_img.alt = "Graph for {{name}}";
            new_img.style = "width:80%;";

            chatbox.appendChild(new_img);

       })
        .catch(error => {
            console.error('Error fetching data:', error);
        });

  }

  function call_end() {
    document.getElementsByClassName("loading")[0].style.display = "block";
    document.getElementById("myForm").style.display = "none";


    fetch('/handle_prompt?data=END&name={{name}}')
        .then(response => response.text())
        .then(text => {
            const message = document.createElement("p");
            message.textContent = text;
            chatbox.appendChild(message);
            document.getElementsByClassName("loading")[0].style.display = "none";
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });

  }

  function call_init() {
      fetch('/handle_innit?name={{name}}')
          .then(response => response.text())
          .then(text => {
              const message = document.createElement("p");
              message.innerHTML = text;
              chatbox.appendChild(message);

              document.getElementById("myForm").style.display = "block";
              document.getElementsByClassName("loading")[0].style.display = "none";
          })
          .catch(error => {
              console.error('Error fetching data:', error);
          });
  }

  function call_end() {
        document.getElementById("myForm").style.display = "none";

    fetch('/handle_prompt?data=END&name={{name}}')
        .then(response => response.text())
        .then(text => {
            const message = document.createElement("p");
            message.innerHTML = text;
            chatbox.appendChild(message);
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });

  }

  function call_prompt(data) {
    const message = document.createElement("p");
    message.innerHTML = "<b>You: </b>" + data;
    chatbox.appendChild(message);

    fetch('/handle_prompt?data='+data)
        .then(response => response.text())
        .then(text => {
            const message = document.createElement("p");
            message.innerHTML = text;
            chatbox.appendChild(message);
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });

    chatbox.scrollTop = chatbox.scrollHeight;
  }

  window.onload = call_init();
</script>

{% endblock %}